<div class="pricing" id="pricing">
  <div class="header">
    <div class="intro" [@foobar3]="state">
      <i class="las la-dollar-sign"></i>
      PRICING
    </div>
  </div>
  <div class="main">
    <div class="head" [@foobar3]="state">
      My <span>Specializations</span>
    </div>
    <div class="para">
      <div class="pricing-cards">
        <div class="card basic-card" [@foobar]="state">
          <div class="card-header">
            <h2>BASIC</h2>
            <p>Have design ready to build?<br>
              or small budge</p>
          </div>
          <div class="card-body">
            <h2><span>$49</span> / hours</h2>
            <hr>
            <ul>
              <li>Need your wireframe</li>
              <li>Design with Figma, Framer</li>
              <li>Implement with Webflow, React, WordPress, Laravel/PHP</li>
              <li> Remote/Online</li>
              <li> Work in business days, no weekend.</li>
              <li>Support 6 months</li>
            </ul>
          </div>
          <div class="card-footer">
            <button class="message-button">PIC THIS PACKAGE</button>
          </div>
        </div>

        <div class="card premium-card" [@foobar2]="state">
          <div class="card-header">
            <h2>PREMIUM</h2>
            <p>Not have any design?<br>
              Leave its for me</p>
          </div>
          <h2><span>$99</span> / hours</h2>
          <hr>
          <div class="card-body">
            <ul>
              <li>Don't need wireframe or anything</li>
              <li>Design with Figma, Framer from scratch</li>
              <li>Implement with Webflow, React, WordPress, Laravel/PHP</li>
              <li>Remote/Online</li>
              <li>Work with both weekend</li>
              <li>Support 12 months</li>
              <li>Your project always be priority</li>
              <li>Customer care gifts</li>
            </ul>
          </div>
          <div class="card-footer">
            <button class="message-button">PIC THIS PACKAGE</button>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
