<div class="about" id="about">
  <div class="header" [@foobar]="state">
    <div class="intro">
      <i class="lar la-user"></i>
      ABOUT
    </div>
  </div>
  <div class="main">
    <div class="head" [@foobar]="state">
      Every great design begin with
      an even <span>better story</span>
    </div>
    <div class="para" >
      <p [@foobar]="state">Since beginning my journey as a freelance designer nearly 8 years ago, I've done remote work for agencies, consulted for startups,
        and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally
        curious, and perpetually working on improving my chopsone design problem at a time. Just simple like that!</p>
    </div>

  </div>
</div>
