<div class="div">
        <div class="menu">
            <p>Menu</p>
            <ul class="menu scroll-nav-responsive d-flex">
                <li *ngFor="let deta of menus">
                    <a href="{{deta.link}}">
                        <i class="{{deta.icon}}"></i> <span>{{deta.title}}</span>
                    </a>
                </li>
            </ul>
          <div class="social">
            <p>Social</p>
            <div class="flex-box">
              <a href="https://twiter.com/"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
              <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>

</div>
