<div class="main">
    <div class="card">
        <div class="head">
            <div class="header">
                <h1>Jibon<sup>&REG;</sup>
                </h1>
            </div>
            <div class="title">
                Framer Designer <br>& Developer
            </div>
        </div>
        <div class="image">
        </div>
        <div class="address">
            <p> hello@jibon.design<br>Rangpur, Bangladesh.</p>
        </div>
        <div class="copyright">
            © 2023 Jibon. All Rights Reserved
        </div>
        <div class="social">
            <a href="https://twiter.com/" target="_blank">
                <div class="circle">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </a>
            <a href="https://facebook.com/jkroyjoy1/" target="_blank">
                <div class="circle">
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </a>
            <a href="https://github.com/jibonroy" target="_blank">
                <div class="circle">
                    <i class="fa-brands fa-github"></i>
                </div>
            </a>
            <a href="https://instagram.com/jibonkr512/" target="_blank">
                <div class="circle">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </a>
        </div>
        <div class="button">
            <button type="button"><i class="las la-envelope"></i>HIRE ME!</button>
        </div>
    </div>
</div>