<div class="portfolio" id="portfolio">
  <div class="header" [@foobar]="state">
    <div class="intro">
      <i class="las la-grip-vertical"></i>
      PORTFOLIO
    </div>
  </div>
  <div class="main">
    <div class="head" [@foobar2]="state2">
      Featured <span>Projects</span>
    </div>
    <div class="para" [@foobar]="state3">
      <div class="card card1">
        <div class="section">
          <div class="btn">Figma</div>
          <div class="btn">Framer</div>
          <div class="btn">WordPress</div>
        </div>
      </div>
      <p>Job Holder - Website</p>
    </div>
    <div class="para" [@foobar2]="state4">
      <div class="card card2">
        <div class="section">
          <div class="btn">Figma</div>
          <div class="btn">Framer</div>
          <div class="btn">WordPress</div>
        </div>
      </div>
      <p>Roof Garden Service - Website</p>
    </div>
    <div class="para" [@foobar]="state5">
      <div class="card card3">
        <div class="section">
          <div class="btn">Figma</div>
          <div class="btn">Framer</div>
          <div class="btn">WordPress</div>
        </div>
      </div>
      <p>Digital Classroom- Website</p>
    </div>
    <div class="para" [@foobar2]="state">
      <div class="card card4">
        <div class="section">
          <div class="btn">Figma</div>
          <div class="btn">Framer</div>
          <div class="btn">WordPress</div>
        </div>
      </div>
      <p>Fresh Coder - Website</p>
    </div>
    <div class="para" [@foobar]="state">
      <div class="card card5">
        <div class="section">
          <div class="btn">Figma</div>
          <div class="btn">Framer</div>
          <div class="btn">WordPress</div>
        </div>
      </div>
      <p>RPI - Student Management Website</p>
    </div>
  </div>
</div>

